body {
  font-family: 'Poppins', sans-serif;
  margin: 10%;
  padding: 0;
  background-color: #ececec;
  margin-top: 5px;


}

.container0 {
  background-color: #cbbbf0;
  position: relative;
  left: 10px;
  width: 100%;


}

#title {
  font-size: 36px;
  font-weight: 10%;
  margin-top: 20px;



}

#sub-title {
  font-size: 36px;
  color: #ffffff;
  position: relative;
  left: 40%;
}

#input {
  margin-top: -35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 10px;
  width: 150%;
}

#inputBox {
  margin: 10px 0;
  width: 300px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #b63636;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #29deeb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  left: 250%;
}

input[type="submit"]:hover {
  background-color: #c029c5;
}

/* adaptacion a dispositivos */
@media (max-width: 750px) {
  .container0 {

    width: 95%;
  }

  #sub-title {
    font-size: 10px;
    position: central;
  }

  #inputBox {
    max-width: 1500%;
    position: central;
  }

  input[type="submit"] {
    font-size: 14px;
    position: central;
  }
}