<body id="body-pd">
    <div class="container">
        <header class="header" id="header">
            {{#if user}}
            <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>

            <div class="dropdown">

                <a type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="header_img">
                        {{#if user.profile_image}}
                        <img src="/{{user.profile_image}}" loading="lazy" alt="User Profile">
                        {{else}}
                        <img src="/not-found/not-found-image.png" alt="..." alt="User Profile">
                        {{/if}}
                    </div>
                    {{!-- {{user.name}} --}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/users/profile"><i class="fa-solid fa-circle-user"></i> Perfil</a>
                    <a class="dropdown-item" href="/logout"><i class="fa-solid fa-right-from-bracket"></i> cerrar
                        sesi칩n</a>
                </div>
            </div>
        </header>
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="/" class="nav_logo"> <i class="fa-solid fa-ticket" style="color: #a918b4;"></i><span
                            class="nav_logo-name">Digital Waiter</span> </a>

                    <div class="nav_list">
                        <a href="/users/profile" class="nav_link">
                            <i class='fa-solid fa-address-card nav_icon'></i>
                            <span class="nav_name">Perfil</span>
                        </a>
                        <a href="#" class="nav_link active">
                            <i class='fas fa-home nav_icon'></i>
                            <span class="nav_name">Menu</span>
                        </a>
                        <a href="/bebidas/add" class="nav_link">
                            <i class="fa-solid fa-bottle-droplet"></i>
                            <span class="nav_name">Bebidas</span>
                        </a>
                        <a href="/restaurantes/list-restaurantes" class="nav_link">
                            <i class="fa-solid fa-utensils"></i>
                            <span class="nav_name">Restaurantes</span>
                        </a>
                        <a href="/socios/add" class="nav_link">
                            <i class="fa-solid fa-handshake"></i>
                            <span class="nav_name">Socios</span>
                        </a>
                        <a href="/categorias/add" class="nav_link">
                            <i class="fa-solid fa-clipboard-list"></i>
                            <span class="nav_name">Categorias</span>
                        </a>
                        <a href="/due침os/add" class="nav_link">
                            <i class="fa-brands fa-superpowers"></i>
                            <span class="nav_name">Due침os</span>
                        </a>
                        <a href="/platillos/add" class="nav_link">
                            <i class="fa-solid fa-plate-wheat"></i>
                            <span class="nav_name">Platillos</span>
                        </a>
                        <a href="/porciones/add" class="nav_link">
                            <i class="fa-solid fa-pizza-slice"></i>
                            <span class="nav_name">Porcion</span>
                        </a>
                        <a href="/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span
                                class="nav_name">Cerrar Sesi칩n</span> </a>
                    </div>
                </div>
            </nav>
        </div>
        {{/if}}
    </div>
    <!--Container Main start-->